@model web1.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zachary Bax</h1>
    <img src="~/Content/Img/WSS.png"
         class="mx-auto d-block img-fluid img-thumbnail" />
</div>

<div class="row">
    <div class="col text-center">
        <h2>Number of Phones</h2>
        <h3>@Model.PhoneCount</h3>
    </div>
    <div class="col text-center">
        <h2>Number of Users</h2>
        <h3>@Model.UserCount</h3>
    </div>

    <div class="col text-center">
        <h2>Last Access Date</h2>
        <h3>@Model.LastAccessDate.ToShortDateString()</h3>
    </div>

</div>